@page "/EditNextPlan"

@inject IPlanService PlanService

<h1 class="mt-3">ویرایش برنامه ریزی</h1>
<hr>
@if (ShowPlanViewModel != null)
{
    <table class="table table-stripped table-dark">
        <tr>
            <th>ساعت</th>
            <th>توضیح</th>
            <th>وضعیت انجام</th>
        </tr>
        <tr>
            @foreach (var item in ShowPlanViewModel)
            {
                <td>@item.Time</td>
                <td>@item.Task</td>
                <td>@item.Done</td>
            }
        </tr>
    </table>
}
else
{
    <h1>برنامه ای برای امروز تنظیم نشده!!!</h1>
}

@code {
    private List<ShowPlanVm> ShowPlanViewModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ShowPlanViewModel = await PlanService.GetPlansAsync();
    }
}