@page "/ShowPlan"
@inject IPlanService PlanService

<h1 class="mt-3">نمایش برنامه ریزی</h1>
<hr>
@if (ShowPlanViewModel != null)
{
    <table class="table table-stripped table-bordered table-dark">
        <thead>

            <tr>
                <th>ساعت</th>
                <th>توضیح</th>
                <th>وضعیت انجام</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ShowPlanViewModel)
            {
                <tr>
                    <td>@item.Time</td>
                    <td><input class="form-check" type="text" value="@item.Task"></td>
                    <td><input class="form-check pointer-cursor" type="checkbox" @(item.Done?" checked":"")></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>برنامه ای برای امروز تنظیم نشده!!!</h1>
}

@code {
    private List<ShowPlanVm> ShowPlanViewModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ShowPlanViewModel = await PlanService.GetPlansAsync();
    }
}