@page "/"
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<div class="py-100 py-auto">
    <div class="container row m-auto">
        <h1 class="row justify-content-center">خانه</h1>
        <hr>
        <div class="col-12 col-sm-6 col-md-4 my-3 px-3">
            <a class="btn btn-light w-100" href="/ShowPlan">مشاهده برنامه ریزی</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 my-3 px-3">
            <a class="btn btn-light w-100" href="/EditDefaultPlan">ویرایش قالب برنامه ریزی</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 my-3 px-3">
            <a class="btn btn-light w-100" href="/EditNextPlan">ویرایش برنامه فردا</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 my-3 px-3">
            <a class="btn btn-light w-100" href="/ShowGoals">مشاهده اهداف</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 my-3 px-3">
            <a class="btn btn-light w-100" href="/ShowRules">مشاهده قوانین</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 my-3 px-3">
            <a class="btn btn-light w-100" href="/EditRules">ویرایش قوانین</a>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userName = await LocalStorageService.GetItemAsync<string>("userName");
        if (userName is null)
        {
            NavigationManager.NavigateTo("/LogIn");
        }
    }
}