@page "/ShowGoals"
@inject IGoalService GoalService

<div class="mt-5">
    @if (GoalsVmCount != 0)
    {
        <table class="table table-bordered table-light">
            <thead>
            <tr>
                <td>هدف</td>
                <td>وضعیت هدف</td>
                <td>تاریخ وضع</td>
                <td>امکانات</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var goal in ShowGoalsViewModel)
            {
                <tr>
                    <td>@goal.Title</td>
                    <td>@goal.GoalStatus</td>
                    <td>@goal.DateAdded</td>
                    <td>
                        <button @onclick="GoalStarted" @* inject id to functions *@ class="btn btn-primary">شروع</button>
                        <button @onclick="GoalFinished" class="btn btn-success">اتمام</button>
                        <button @onclick="GoalCanceled" class="btn btn-danger">لغو</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h1>لطفا صبر کنید...</h1>
    }
</div>
<hr/>
<a href="/AddGoal" class="btn btn-success">اضافه کردن هدف</a>

@code {
    private int GoalsVmCount { get; set; }
    private List<ShowGoalsVm> ShowGoalsViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ShowGoalsViewModel = await GoalService.GetUserGoalsAsync();
        GoalsVmCount = ShowGoalsViewModel.Count;
    }

    private Task GoalStarted()
    {
        var goalId = ShowGoalsViewModel
    }

    private Task GoalCanceled()
    {
        
    }

    private Task GoalFinished()
    {
        
    }
}