@page "/ShowGoals"
@inject IGoalService GoalService
@inject ILocalStorageService LocalStorageService

@if (ShowGoalsViewModel is not null)
{

}
else
{
    <h1 class="mt-3">شما هدفی تعیین نکردید!!!</h1>
}

@code {
    private List<ShowGoalsViewModel> ShowGoalsViewModel { get; set; }
    protected async Task OnInitializedAsync()
    {
        var userName = LocalStorageService.GetItemAsync<string>("userName");        
        ShowGoalsViewModel = await GoalService.GetUserGoalsAsync("");
    }
}