@page "/Login"

@inject ILocalStorageService LocalStorageService
@inject IAccountService AccountService

<div class="d-flex justify-content-center">
    <EditForm Model="@logInViewModel" OnValidSubmit="LogIn">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <b>نام کاربری:</b>
        <InputText @bind-value="logInViewModel.UserName"/>

        <hr>

        <b>رمز عبور:</b>
        <InputText @bind-value="logInViewModel.Password"/>

        <button type="submit" class="btn btn-warning">ورود</button>
    </EditForm>
    <hr>
    <a href="/SignIn" class="btn btn-primary">ثبت نام</a>
</div>

@code {
    private LogInViewModel logInViewModel = new();

    async Task LogIn()
    {
        if (await AccountService.IsPasswordAndUserNameExists(logInViewModel))
        {
            await LocalStorageService.SetItemAsync("userName", logInViewModel.UserName);
        }
    }

}