@page "/EditRules"
@inject IRulesService _rulesService

@if (editRulesViewModel != null)
{

}
else
{
    <h1 class="mt-3">شما قانونی برای خود وضع نکردید!!!</h1>
}

@code {
    protected List<ShowRulesVm> editRulesViewModel { get; set; } = new List<ShowRulesVm>();
    protected override async Task OnInitializedAsync()
    {
        editRulesViewModel = await _rulesService.GetRulesAsync("");
    }
}