@page "/EditRules"
@inject IRuleService RuleService

@if (EditRulesViewModel != null)
{

}
else
{
    <h1 class="mt-3">شما قانونی برای خود وضع نکردید!!!</h1>
}

@code {
    private List<ShowRulesVm> EditRulesViewModel { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        EditRulesViewModel = await RuleService.GetRulesAsync();
    }
}