@page "/ShowRules"
@inject IRuleService RulesService

@if (ShowRulesViewModel is not null && ShowRulesViewModel.Count is not 0)
{
    <table class="table-bordered table-warning table">
        <thead>
        <tr>
            <td>شماره</td>
            <td>قانون</td>
            <td>تعداد نقص در ماه اخیر</td>
            <td>امکانات</td>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < ShowRulesViewModel.Count; i++)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @ShowRulesViewModel[i].Title
                </td>
                <td>
                    @ShowRulesViewModel[i].DivorcesCount
                </td>
                <td>
                    <a href="/Divorces/@ShowRulesViewModel[i].Id">نقض ها</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1 class="mt-3">شما قانونی برای خود وضع نکردید!!!</h1>
}
<div class="mt-4">
    <a href="/AddRule" class="btn btn-success">وضع قانون جدید</a>
</div>

@code {
    private List<ShowRulesVm> ShowRulesViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ShowRulesViewModel = await RulesService.GetRulesAsync();
    }
}