@page "/"
@namespace Schedule.BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>برنامه ریزی</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.rtl.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <a class="dismiss text-decoration-none">🗙</a>
        <environment include="Staging,Production">
            متاسفانه به خطایی برخورد کردیم!!!
        </environment>
        <environment include="Development">
            متاسفانه به خطایی برخورد کردیم!!!
        </environment>
        <a href="" class="reload text-decoration-none">تلاش دوباره</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
