@font-face {
    font-family: Vazir;
    src: url(/fonts/Vazir-Regular.ttf);
}

@font-face {
    font-family: BoldVazir;
    src: url(/fonts/Vazir-Bold.ttf);
}

* {
    font-family: Vazir;
}

html, body, main {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BoldVazir;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url(/images/background.jpg);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    right: 0.75rem;
    top: 0.5rem;
}

.py-auto {
    padding: 15% 0 15% 0;
}

.pointer-cursor{
    cursor: pointer;
}